# Web scraping Coronavirus data using Python + BeautifulSoup

In [1]:
pip install BeautifulSoup4

Collecting BeautifulSoup4
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 4.5 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.11.1 soupsieve-2.3.2.post1
WARNING: You are using pip version 20.1.1; however, version 22.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Import libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

# Load webpage content
website = "https://www.worldometers.info/coronavirus/"
response = requests.get(website)

# Convert to a BS object
soup = bs(response.content, "html.parser")

# Extract the table
table = soup.find_all('table', attrs={"id": "main_table_countries_today"})[0]

# Scrape the table headers
headers = [element.text.strip() for element in table.find_all('th')]

# Create the DF, input headers first
df = pd.DataFrame(columns = headers)

# Scrape the table body row by row
for i in table.find_all('tr')[1:]:
    row_data = i.find_all('td')
    row = [tr.text for tr in row_data]
    length = len(df)
    df.loc[length] = row

df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"99,584,072",,"1,467,096",,"94,782,140","+2,147","3,334,836","7,455",...,,,,North America,\n,,,,,
1,,\nAsia\n,"149,831,185","+143,907","1,427,739",+199,"127,062,164","+53,804","21,341,282","11,814",...,,,,Asia,\n,,,,,
2,,\nSouth America\n,"57,109,078",+89,"1,296,381",,"53,182,037",+198,"2,630,660","10,681",...,,,,South America,\n,,,,,
3,,\nEurope\n,"194,080,716","+53,487","1,830,151",+265,"181,507,957","+75,080","10,742,608","8,057",...,,,,Europe,\n,,,,,
4,,\nOceania\n,"7,895,149","+57,557","11,374",+65,"7,353,593","+6,804","530,182",155,...,,,,Australia/Oceania,\n,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,,Total:,"194,080,716","+53,487","1,830,151",+265,"181,507,957","+75,080","10,742,608","8,057",...,,,,Europe,,,,,,
240,,Total:,"7,895,149","+57,557","11,374",+65,"7,353,593","+6,804","530,182",155,...,,,,Australia/Oceania,,,,,,
241,,Total:,"12,033,089",+3,"254,308",,"11,203,627",,"575,154",966,...,,,,Africa,,,,,,
242,,Total:,721,,15,,706,,0,0,...,,,,,,,,,,
243,,Total:,"520,534,010","+255,043","6,287,064",+529,"475,092,224","+138,038","39,154,722","39,128",...,,,,All,\n,,,,,

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2b5e137d-eb0f-4820-b583-73511cc204aa' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>